/* You can add global styles to this file, and also import other style files */

@import '~font-awesome/css/font-awesome.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    font-family: sans-serif;
}

.mat-card {
    margin: 0.25rem;
}

.up-to-top {
    position: fixed !important;
    bottom: 1rem;
    right: 1rem;
}